#titulo-sitio {
  color: #d39a0a;
  font-size: 4em;
  text-shadow: 3px 3px #bc8609;
}

body {
  background-image: url(https://www.comedera.com/wp-content/uploads/2016/03/recetas-caseras-comedera.jpg);
  background-repeat: no-repeat;
  background-position: left top;
}

a {
  font-variant: small-caps;
  color: #db990a;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: #edc163;
}

a:active {
  color: #7c652e;
}

.receta {
  border: 1px solid gray;
  padding: 5px;
  width: 260px;
  background-color: #F5F5DC;
}

#idreceta {
  border-bottom: 1px solid #000000;
  padding: 5px;
  height: 150px;
}

#imgreceta {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#idreceta:hover {
  opacity: 0.7;
}

.receta h4 {
  color: #d69f2a;
}

#imgplato {
  width: 100%;
  height: 100%;
}

.caja > div {
  display: inline-block;
  margin: 10px;
  border-radius: 1em;
}

.caja {
  border-bottom: 1px solid #000000;
}

.detalle > div {
  display: inline-block;
  margin: 10px;
}

.detalle {
  border-bottom: 2px dotted #e0d2b1;
}

.contenido {
  width: 500px;
}

.contenido p {
  padding: 5px;
}