h1{
  text-align: center;
  background-color: #F5F5DC;
  padding: 10px;
  margin: 10px;
}

.caja {
  border: 1px solid #cbccc1;
  padding: 10px;
  margin: 10px;
}

div#datos h2 {
  text-align: center;
}

#nombres > span {
  display: inline-block;
  margin: -5px;
  height: 90px;
}

#educacion > span {
  display: inline-block;
}

ul {
  list-style: none;
}

#universidad {  
  border-bottom: 1px solid #000000;
  width: 600px;
  padding: 5px;
  margin-bottom: 5px;
}

#fotocolegio, #fotoespol {
  width: 10%;
}

.Habilidadesbox > div{
  display: inline-block;
  margin: 10px;
}

.habilidades > div{
  display: inline-block;
  margin: -5px;
  border-radius: 1em;
  border: 1px solid blue;
  padding: 5px;
}

.habilidades div:first-child {
  background-color: blue;
}

.habilidades div:last-child {
  background-color: #eeeeee;
  box-shadow: 1px 1px 5px #000000;
}
